# BlueMicro840 board configuration

# Copyright (c) 2020 Pete Johanson, Derek Schmell
# SPDX-License-Identifier: MIT

if BOARD_BLUEMICRO_V2_1

config BOARD
	default "bluemicro_v2_1"

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

endif # BOARD_BLUEMICRO_V2_1
