# SPDX-License-Identifier: MIT

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_NRF_HHKB=y

# Enable MPU
CONFIG_ARM_MPU=y

# enable GPIO
CONFIG_GPIO=y

# enable Kscan HHKB Driver 
CONFIG_ZMK_KSCAN_GPIO_DRIVER=n
CONFIG_ZMK_KSCAN_HHKB_DRIVER=y

# Core
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y

# CONFIG_NRFX_SPIM=y
CONFIG_NRFX_SPIM0=y
CONFIG_ZMK_DISPLAY=y
CONFIG_ZMK_WIDGET_WPM_STATUS=n

# Power Management
CONFIG_ZMK_SLEEP=n
# CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=60000
# CONFIG_ADC=y
# CONFIG_ADC_NRFX_SAADC=y

# RGB
# CONFIG_ZMK_BACKLIGHT_AUTO_OFF_IDLE=y
# CONFIG_ZMK_BACKLIGHT_AUTO_OFF_USB=y

# DEBUG
CONFIG_ZMK_USB_LOGGING=y